{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": 3,
        "useBuiltIns": "entry",
        "targets": {
          "node": "6"
        }
      }
    ],
    ["@babel/preset-react", {}],
    ["@babel/preset-typescript", {}]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }, "optional"],
    [
      "@babel/plugin-proposal-class-properties",
      { "loose": true },
      "decorators"
    ],
    ["@babel/plugin-proposal-optional-chaining", {}, "optional-chaining"]
  ]
}
